<%# <%= render 'shared/header'%>
<%= render "shared/second-header" %>

<div class="registration-done">
  <h1>登録が完了しました</h1>
  <%= link_to "トップへ戻る", root_path %>
</div>

<%= render "shared/second-footer"%>
